[
  { "include": "tis.config_template.json",
    "name": "List all test names",
    "val-args": " --gtest_list_tests"
  },
  { "include": "tis.config_template.json",
    "val-args": " --gtest_filter=test_insert_sort.test_C_array"
  },
  { "include": "tis.config_template.json",
    "val-args": " --gtest_filter=test_insert_sort.test_std_container"
  },
  { "include": "tis.config_template.json",
    "val-args": " --gtest_filter=test_partition.test_C_array"
  },
  { "include": "tis.config_template.json",
    "val-args": " --gtest_filter=test_partition.test_std_container"
  },
  { "include": "tis.config_template.json",
    "val-args": " --gtest_filter=test_quick_sort.test_C_array"
  },
  { "include": "tis.config_template.json",
    "val-args": " --gtest_filter=test_quick_sort.test_std_container"
  },
  { "include": "tis.config_template.json",
    "val-args": " --gtest_filter=test_merge_sort.test_C_array"
  },
  { "include": "tis.config_template.json",
    "val-args": " --gtest_filter=test_merge_sort.test_std_container"
  },
  { "include": "tis.config_template.json",
    "val-args": " --gtest_filter=test_merge.test_C_array"
  },
  { "include": "tis.config_template.json",
    "val-args": " --gtest_filter=test_merge.test_std_container"
  },
  { "include": "tis.config_template.json",
    "val-args": " --gtest_filter=test_heap_sort.test_C_array"
  },
  { "include": "tis.config_template.json",
    "val-args": " --gtest_filter=test_heap_sort.test_std_container"
  },
  { "include": "tis.config_template.json",
    "val-args": " --gtest_filter=test_count_sort.test_C_array"
  },
  { "include": "tis.config_template.json",
    "val-args": " --gtest_filter=test_count_sort.test_std_container"
  },
  { "include": "tis.config_template.json",
    "val-args": " --gtest_filter=test_radix_sort.test_digi_on_N"
  },
  { "include": "tis.config_template.json",
    "val-args": " --gtest_filter=test_radix_sort.test_C_array"
  },
  { "include": "tis.config_template.json",
    "val-args": " --gtest_filter=test_radix_sort.test_std_container"
  },
  { "include": "tis.config_template.json",
    "val-args": " --gtest_filter=test_bucket_sort.test_C_array"
  },
  { "include": "tis.config_template.json",
    "val-args": " --gtest_filter=test_bucket_sort.test_std_container"
  },
  { "include": "tis.config_template.json",
    "val-args": " --gtest_filter=test_radom_index.test_random"
  }
]
